# Application I
### Başak Özsoy 090170113

Date: 26.11.20

---

### Numeric Types

We have several types of Numeric Types. Most used types are: integer(int) and floating-point numbers(float)
Most important(scalar) data type for numerical analysis is the float.

To input a floating data type, it is necessary to include a . in the expression.

To get the data type of a variable, the function type() is used.

In [1]:
x = 7

In [2]:
type(x)

int

In [3]:
x = 7.0

In [4]:
type(x)

float

In [5]:
x = 3+1j

In [6]:
x

(3+1j)

In [7]:
type(x)

complex

### Strings

A string is a sequence of characters. You can write strings using ' or ".

For multiline strings with line breaks, you can use triple quotes, either ''' or """.

Empty string : The empty string is the string equivalent of number 0.

In [8]:
a = 'this is a string'

In [9]:
print(a)

this is a string

In [10]:
b = "this is also a string"

In [11]:
b

'this is also a string'

In [12]:
print(b)

this is also a string

In [14]:
c = """This is a long string that is 
spread across two lines."""

In [15]:
c

'This is a long string that is \nspread across two lines.'

In [16]:
print(c)

This is a long string that is
spread across two lines.

In [17]:
b = "this is also a string"

In [18]:
len(b)

21

In [19]:
b = "this is also a                  string"

In [20]:
len(b)

38

### String Indexing

Sequences maintain a left-to-right order among the items they contain, their items are stored & fetched by their relative positions.

We can also index backward, from the end-positive indexes count from the left, and the negative indexes count from the right.

Note that in Python indexes start from 0.

In [21]:
t = "python"

In [22]:
t[0]

'p'

In [23]:
t[1]

'y'

In [24]:
t[5]

'n'

In [25]:
t[-1]

'n'

In [26]:
t[-2]

'o'

### String Slicing

The general form, X[l,j] means give me everything in X from offset l up to but not including offset j.

Format:
string name[starting location : ending location +1]

In [27]:
t[0:3]

'pyt'

In [28]:
t[:]

'python'

In [29]:
t[:3]

'pyt'

In [30]:
t[3:]

'hon'

In [31]:
t[-2]

'o'

In [32]:
t[-3:-1]

'ho'

In [33]:
t[-3:]

'hon'

More Examples:

Let's create string s = 'abcdefghij'

In [34]:
s = 'abcdefghij'

In [35]:
s[2:5]

'cde'

In [36]:
s[ :5]

'abcde'

In [37]:
s[-2: ]

'ij'

In [38]:
#characters from index 1 to 6, by twos
s[1:7:2]

'bdf'

In [39]:
#negative step reverses the string
s[ : :-1]

'jihgfedcba'

### Immutability

Immutable = Unchangeable!

Strings are immutable in Python. 
You cannot change a string by assigning to one of its positions, you can always build a new one and assign it to the same name.

In [40]:
s = "Spam"

In [41]:
s[0] = "z"

TypeError: 'str' object does not support item assignment

In [42]:
s = "z" + s[1:]

In [43]:
print(s)

zpam

### Data Structures: Tuples

A tuple is a fixed-length, immutable sequence of Python objects. It can be accessed with square brackets.

Comma seperated version(CSV)

Any sequence or iterator can be converted to a tuple by invoking tuple.

In [44]:
tup = 3,4,5

In [45]:
tup

(3, 4, 5)

In [46]:
nested_tup = (4, 5, 6), (7, 8), (0, 10, 11, 12)

In [47]:
nested_tup

((4, 5, 6), (7, 8), (0, 10, 11, 12))

In [48]:
tuple([4, 0, 2])

(4, 0, 2)

In [49]:
a = [4, 0, 2]

In [50]:
type(a)

list

In [51]:
b = tuple(a)

In [52]:
type(b)

tuple

In [53]:
tup = tuple("string")

In [55]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [56]:
tup[0]

's'

In [57]:
tup[1]

't'

While the objects stored in a tuple may be mutable themselves, once created it's not possible to modify which object is stored in each slot:

In [58]:
tup = tuple(['foo', [1, 2], True])

In [59]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [60]:
tup[1].append(3)

In [61]:
tup

('foo', [1, 2, 3], True)

Tuples can be concantenated using the + operator to produce longer tuples. (Join two operands end to end)

---

Question: Trying to change a boolean? 

Excercise: Play with tuples!

---

In [62]:
tup

('foo', [1, 2, 3], True)

In [71]:
tup2 = ((2, 4, 4), (3, 4, 5))
tup2

((2, 4, 4), (3, 4, 5))

In [65]:
newtup = tup + tup2

In [66]:
newtup[0]

'foo'

In [67]:
newtup[1]

[1, 2, 3]

In [68]:
newtup[2]

True

In [69]:
newtup[3]

(2, 4, 4)

In [70]:
newtup[4]

(3, 4, 5)

tup.count(a) : Counts the occurences of the element "a"

tup.index(a) : Finds the index of the element "a"

tup.index()  : Returns the first index close to zero if multiple occurences take place.

In [72]:
tup = (1, 11, 2, 2, 2, 3, 3, 5, 5, 5, 5, 4, 4, 4)

In [73]:
#How many 2's are there?
tup.count(2)

3

In [74]:
#Where is 2?
tup.index(2)

2

In [75]:
tup.count(4)

3

In [76]:
tup.index(4)

11

### Lists

Lists are variable-length and their contents can be modified.

---
Exercise: Use common list operations such as L.append(), L.extend([5,6,7]), L.index(x), L.sort(), L.reverse(), L.copy(), L.pop(x), L.remove(x) etc

In [77]:
mylist = [2, 3, 7, None, "text"]

In [78]:
mylist[3]

In [79]:
mylist[4]

'text'

In [80]:
tup = ('foo', 'bar', 'baz')

In [84]:
#copying tuple to list
b_list = list(tup)

In [83]:
b_list

['foo', 'bar', 'baz']

In [85]:
#Nested sublist:
L = ['Bob', 40.0, ['dev', 'mgr']]

In [87]:
L

['Bob', 40.0, ['dev', 'mgr']]

In [88]:
t = [1, "2", 2, 2, 3, "book", "text", "class", "book"]

In [89]:
#Add new string to list:
t.append("new")

In [90]:
t

[1, '2', 2, 2, 3, 'book', 'text', 'class', 'book', 'new']

In [91]:
#Delete a list element:
del t[0]

In [92]:
t

['2', 2, 2, 3, 'book', 'text', 'class', 'book', 'new']

In [93]:
#Remove the i-th element in a list and return the value of the element:
t.pop(0)

'2'

In [94]:
t

[2, 2, 3, 'book', 'text', 'class', 'book', 'new']

In [95]:
#Remove the first element thas has value as "value":
t.remove(2)
t

[2, 3, 'book', 'text', 'class', 'book', 'new']

In [97]:
#Get the unique elements in the list:
set(t)

{2, 3, 'book', 'class', 'new', 'text'}

In [98]:
#Add two lists together:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [99]:
x = [4, None, 'foo']

In [102]:
#extend = append
x.extend([7, 8, (2,3)])

In [101]:
x

[4, None, 'foo', 7, 8, (2, 3)]

### List Slicing

Indexing and slicing work the same way for lists as they do for string, since lists are sequences.

In [103]:
L = ['spam', 'Spam', 'SPAM!']

In [104]:
L[2]

'SPAM!'

In [105]:
L[1:]

['Spam', 'SPAM!']

In [106]:
#Create a 3x3 matrix:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [107]:
matrix[1]

[4, 5, 6]

In [108]:
matrix[1][1]

5

In [109]:
matrix[2][0]

7

### Changing List Elements

Because lists are mutable, they support operations that change a list object in place

In [110]:
L[1] = 'eggs'

In [111]:
L[0:2] = ['eat', 'more']

In [112]:
L

['eat', 'more', 'SPAM!']

In [120]:
#Making index 1('more') blank 
L[1:2] = []

In [114]:
L

['eat', 'SPAM!']

In [115]:
L = ["potato", "car", 3, 6, 8, "bicycle", "plank"]

In [116]:
L

['potato', 'car', 3, 6, 8, 'bicycle', 'plank']

In [119]:
#Equating 0:2 to 4:6, changing potato to 8, car to bicycle
L[0:2] = L[4:6]

In [118]:
L

[8, 'bicycle', 3, 6, 8, 'bicycle', 'plank']

### List Functions

In [121]:
mylist = ["Apple", "Samsung", "Huawei", "LG", "Xiaomi", "Google"]

In [127]:
#sorting the list alphabetically:
mylist.sort()
mylist

['Apple', 'Google', 'Huawei', 'LG', 'Saaamsong', 'Samsung', 'Xiaomi']

In [124]:
mylist.insert(1, "Saaamsong")
mylist

['Apple', 'Saaamsong', 'Google', 'Huawei', 'LG', 'Samsung', 'Xiaomi']

In [125]:
#reverse our list:
mylist.reverse()
mylist

['Xiaomi', 'Samsung', 'LG', 'Huawei', 'Google', 'Saaamsong', 'Apple']

In [128]:
#clear the list:
mylist.clear()
mylist

[]

In [129]:
#Search a specific thing in our list:
search = "Google"
search in mylist

False

In [130]:
#Forgot to create list:
mylist = ["Apple", "Samsung", "Huawei", "LG", "Xiaomi", "Google"]

In [131]:
#Search a specific thing in our list:
search = "Google"
search in mylist

True

### Dictionaries 

Like a list, but more general. In a list, positions have to be integers, while in a dictionary the indices can be almost any type.

Format: x = {"call1" : "value", "call2" : "value2"}

In [132]:
empty_dict = {}

In [157]:
d1 = {"x" : "kalem", "y" : [1,2,3,4] }

In [158]:
d1[0]

KeyError: 0

In [159]:
d1["x"]

'kalem'

In [160]:
d1["y"]

[1, 2, 3, 4]

In [161]:
d1[8] = 'potato'

In [162]:
d1

{'x': 'kalem', 'y': [1, 2, 3, 4], 8: 'potato'}

In [167]:
#search for b in a dictionary:
"b" in d1

False

In [164]:
#Remove the value on [nrm]:
removed = d1.pop(8)

In [165]:
removed

'potato'

In [166]:
d1

{'x': 'kalem', 'y': [1, 2, 3, 4]}

In [174]:
#What are our keys?
d1.keys()

dict_keys(['x', 'y'])

In [175]:
#What are our values?
d1.values()

dict_values(['kalem', [1, 2, 3, 4]])

In [176]:
keys = list(d1.keys())

In [177]:
keys[0]

'x'

In [181]:
#copy the values on dictionary d1 to values:
values = list(d1.values())

In [182]:
values

['kalem', [1, 2, 3, 4]]

In [183]:
d1.items()

dict_items([('x', 'kalem'), ('y', [1, 2, 3, 4])])

In [184]:
#finding the length of the dictionary:
len(d1.items())

2

Let us merge dictionaries together using the update method:

In [188]:
d1  = { "x" : 2, "y" : 3, "z" : 4}
d1.update({"dart" : 4, "lemon" : 5})

In [189]:
d1

{'x': 2, 'y': 3, 'z': 4, 'dart': 4, 'lemon': 5}

In [192]:
#Get method returns a default value, None if the key doesn't exist:
d1["x"]

2

In [193]:
d1["a"]

KeyError: 'a'

In [194]:
d1.get("x")

2

In [196]:
#Assign it to a
a = d1.get("a")

### Nested Dictionaries

In [197]:
records = {'name' : 'Basak',
          'jobs' : ['student', 'coffee drinker'],
          'mail' : 'ozsoy17',
          'home' : 'istanbul'}

In [198]:
print(records['name'])

Basak

In [209]:
d2 = {}

In [210]:
d2["number"] = 1726

In [211]:
d2

{'number': 1726}

In [212]:
d2["address"] = {}

In [213]:
d2["address"]["country"] = "Turkey"

In [214]:
d2

{'number': 1726, 'address': {'country': 'Turkey'}}

In [215]:
d2["address"]["city"] = "Istanbul"

In [216]:
d2

{'number': 1726, 'address': {'country': 'Turkey', 'city': 'Istanbul'}}

In [218]:
d2["grades"] = {}

In [219]:
d2["grades"]["math"] = {}

In [220]:
d2["grades"]["biology"] ={}

In [221]:
d2["grades"]["math"]["exams"] = {}

In [222]:
d2["grades"]["math"]["exams"]["first_midterm"] = 75

In [223]:
d2["grades"]["math"]["exams"]["second_midterm"] = 75

In [224]:
d2["grades"]["math"]["exams"]["third_midterm"] = 75

In [225]:
d2

{'number': 1726,
 'address': {'country': 'Turkey', 'city': 'Istanbul'},
 'grades': {'math': {'exams': {'first_midterm': 75,
    'second_midterm': 75,
    'third_midterm': 75}},
  'biology': {}}}

In [226]:
d2["grades"]["math"]

{'exams': {'first_midterm': 75, 'second_midterm': 75, 'third_midterm': 75}}

In [227]:
d2["grades"]["math"].keys()

dict_keys(['exams'])

In [228]:
d2["grades"]["math"]["exams"]["first_midterm"]

75

In [229]:
d2["grades"]["math"]["exams"]

{'first_midterm': 75, 'second_midterm': 75, 'third_midterm': 75}